[defaults]
inventory = ./inventories/vm.yml
roles_path = ./roles
callback_result_format = yaml
interpreter_python = auto_silent
deprecation_warnings = False
callback_plugins = /usr/local/lib/python3.13/site-packages/ara/plugins/callback
callbacks_enabled = ara_default

[ara]
api_client = http
api_server = http://ara:8000
